/* Header.css */
.header {
  position: relative;
  height: 60vh;
  min-height: 400px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/background-img.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.header-content {
  max-width: 800px;
  z-index: 1;
}

.header-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.header-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.header-content button {
  width: 30%;
   background-color: #e52b35;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: 5px 5px 0px #144d5a; 
  transition: all 0.3s ease;

}

.header-content button:hover {
  transform: translateY(-3px);
    box-shadow: 7px 7px 0px #144d5a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    height: 70vh;
  }

  .header-content h2 {
    font-size: 2.5rem;
  }

  .header-content p {
    font-size: 1rem;
  }

    .header-content button{
      width: 50%;
    }
}

@media (max-width: 480px) {
  .header {
    height: 80vh;
    padding: 15px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/background-img2.gif');
  }

  .header-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

            .header-content button {
              width: 50%;
            }

  .header-content p {
    font-size: 0.9rem;
    margin-bottom: 25px;
  }

  .header-content button {
    padding: 12px 30px;
    font-size: 1rem;
  }
}